@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ThAmCo</h1>
    <p class="lead">ThAmCo is a free to use website for purchasing great products. Buy our products now at cheaper than ever before prices that are never to be repeated. GO CLICK THE BUY BUTTON NOW!!!!!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Start Shopping &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>BUY NOW!</h2>
        <p>
            Don't forget to purchase our products! we offer a great range of products and extremely competitive prices on fresh air, CLICK START SHOPPING FOR A 50% DISCOUNT!
        </p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p></p>
    </div>
</div>